html, body {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  color: #3E1E03;
  display: flex;
  flex-direction: column;
  background-color: #f2e9d5;
  height: 100%; 
}

a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

ul {
  list-style-type: none;
}

/*======= Main =======*/

main {
  margin-top: 15vh;
  padding: 0 4rem;
  flex: 1;
 }

section {
  margin: 4rem 0;
}

.title {
  font-family: "Cormorant Garamond", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.about {
  display: flex;
  flex-direction: column;
  
}

.about div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.about p {
  text-align: justify;
}

.about img {
  border-radius: 0.7rem;
  object-fit: cover;
  width: 50%;
  max-width: 650px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);  
}

@media screen and (max-width: 1280px) {
  .about img {
    display: none;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-item {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);  
  border-radius: 0.5rem;  
}

.products ul {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 2.5rem 0;
  padding-left: 0;
  }

.products li {
  flex-grow: 1;
  flex-basis: 12rem;
}

.products-item div {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  height: 7rem;
  
}

.products-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/*======= Button =======*/

.btn {
  padding: 8px;
  background-color: #99A66C;
  color: #F5F1E8;
  text-align: center;
  border: 0;
  min-width: 120px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: #737c52 0px 3px 0px 0px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: #737c52 0px 1px 0px 0px;
}

.btn:active {
  background-color: #99A66C;;
  box-shadow: r#737c52 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.btn.catalog-btn {
  
  background-color: #3E1E03;
  color: #f6dbb9;
  box-shadow: #2d1502 0px 3px 0px 0px;

}

/*======= Product =======*/

.product {
  display: flex;
  flex-direction: column;
}

.product img {
  border-radius: 0.7rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);  
}

#productFirstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productSecondSection {
display: flex;
flex-direction: column;
align-items: self-start;
}

/*======= Error =======*/

.errorLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*======= Footer =======*/

footer {
  background-color: #3E1E03;
  color: #f6dbb9;
  text-align: center;
  padding: 2vh;
}

/*======= Responsive =======*/

@media screen and (min-width: 720px) {
  section {
    margin: 4rem 0;
  }  
}

@media screen and (min-width: 1280px) {
  
  main {
    padding: 0 8rem;
  }
  .about {
    flex-direction: row;
  }

  .about div {    
    padding-right: 3rem;
  }
   
}








