<%- include('./partials/header') %>

      <h1 class="title">404 - Cette page n'exite pas</h1>
        <div class="errorLayout">
          <img src="/images/error404.png" alt="#">
          <a href="/" class="btn">Retour à l'accueil</a>
        </div>
        



<%- include('./partials/footer') %>
 