<%- include('./partials/header') %>

      <h1 class="title">Une erreur s'est produite, réessayez plus tard</h1>
        <div class="errorLayout">
          <img src="/images/error500.png" alt="#">
          <a href="/" class="btn">Retour à l'accueil</a>
        </div>
        



<%- include('./partials/footer') %>