<%- include('./partials/header') %>

      <section class="catalog">
        <h1 class="title">Notre catalogue</h2>
     <!--   
        <select name="categroy" id="">
          <option value="">Catégorie</option>
          <option value="">Corsé</option>
          <option value="">Acide</option>
          <option value="">Fruité</option>
        </select>

      -->
      </section>

      <section class="products">
        <ul class="products-container">
          <li>
            <article class="products-item">
              <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
              <div>
                <h3>Espresso</h3>
                <p>Origine Indonésie</p>
                <p>25,99 €/kg</p>
                <a class="products-item__button btn" href="#">Voir le détail</a>
              </div>
            </article>
          </li>

            <li>
              <article class="products-item">
              <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
              <div>
                  <h3>Espresso</h3>
                  <p>Origine Indonésie</p>
                  <p>25,99 €/kg</p>
                  <a class="products-item__button btn" href="#">Voir le détail</a>
                </div>
              </article>
            </li>

            <li>
              <article class="products-item">
                <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
                <div>
                  <h3>Espresso</h3>
                  <p>Origine Indonésie</p>
                  <p>25,99 €/kg</p>
                  <a class="products-item__button btn" href="#">Voir le détail</a>
                </div>
              </article>
            </li>
        </ul>

        <a class="catalog-btn btn">Tout voir</a>
      </section>
     

<%- include('./partials/footer') %>