<%- include('./partials/header.ejs') %>

    
      <section class="about">
        <div>
          <h1 class="title">Votre spécialiste Haucloquois du café</h1>

            <p>oCoffee est un détaillant de café et de produits associés à la consommation du café basé dans la ville de Hauts-de-Cloques. Nous importons nos produits directement des producteurs, et nous les sélectionnons selon des critères exigeants de qualité. oCoffee est reconnu à l’échelle départementale.</p>
            <a class="about-btn catalog-btn btn" href="/catalog">Voir notre catalogue</a>
        </div>

          <img src="/images/about.jpg" alt="">
      </section>

      

      <section class="products">
        <h2 class="title">Nouveautés</h2>

        <ul class="products-container">
          <li>
            <article class="products-item">
              <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
              <div>
                <h3>Espresso</h3>
                <a class="products-item__button btn" href="#">Découvrir</a>
              </div>
            </article>
          </li>

            <li>
              <article class="products-item">
              <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
              <div>
                  <h3>Espresso</h3>
                  <a class="products-item__button btn" href="#">Découvrir</a>
                </div>
              </article>
            </li>

            <li>
              <article class="products-item">
                <img src="/images/100955890.png" alt="Selection de nos meilleurs cafés oCoffee">
                <div>
                  <h3>Espresso</h3>
                  <a class="products-item__button btn" href="#">Découvrir</a>
                </div>
              </article>
            </li>
        </ul>
      </section>

<%- include('./partials/footer.ejs') %>    