<%- include('./partials/header.ejs') %>

    
      <section class="introduction">
        <h1 class="introduction-title title">Votre spécialiste Haucloquois du café</h1>

          <p class="introduction-text text">oCoffee est un détaillant de café et de produits associés à la consommation du café basé dans la ville de Hauts-de-Cloques. Nous importons nos produits directement des producteurs, et nous les sélectionnons selon des critères exigeants de qualité. oCoffee est reconnu à l’échelle départementale.</p>
            
          

          <a class="introduction-btn catalog-btn btn">Voir le catalogue</a>
      </section>

      

      <section class="products">
        <h2 class="products-title title">Nouveautés</h2>
        <div class="products-container">
          <article class="products-item">
            <h3 class="products-item__title">Espresso</h3>
            <p class="products-item__text text">Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
            <a class="products-item__button btn" href="#">Découvrir</a>
          </article>

          <article class="products-item">
            <h3 class="products-item__title">Columbian</h3>
            <p class="products-item__text text">Café moyennement corsé avec une acidité vive et une saveur riche.</p>
            <a class="products-item__button btn">Découvrir</a>
          </article>

          <article class="products-item">
            <h3 class="products-item__title">Ethiopian Yirgacheffe</h3>
            <p class="products-item__text text">Réputé pour son arôme floral, son acidité vive et ses notes de saveur citronnée.</p>
            <a class="products-item__button btn">Découvrir</a>
          </article>
        </div>
      </section>

<%- include('./partials/footer.ejs') %>    