<%- include('./partials/header') %>

    <div class="product">
      <section id="productFirstSection">
        <h1 class="title">Espresso</h1>
        <img src="/images/100955890.png" alt="Illustration de grains de café">
      </section>

      <section id="productSecondSection">
        <h2 class="title">Café d'Italie</h2>
          <p>Café fort et concentré préparé en faisant passer de l'eau chaude à travers du café finement moulu.</p>
          <p>Prix au kilo : 20.99 €</p>
          <p>Caractéristique principale : Corsé</p>
          <p>Disponible : Oui</p>
          <a href="/catalog" class="btn">Retour au catalogue</a>
      </section>

    </div>


<%- include('./partials/footer') %>